
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(202, 202, 254);
}
.Title{
  margin-left: 40px;
  margin-right: 40px;
}